In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
dataset = pd.read_excel(r'C:\Users\naman\Downloads\Economy_Prediction_Dataset-1.xlsx')
dataset.head()

,Year,Import in millions,Export in millions,Literacy rate,Industrial Production,Inflation rate (%),Exchange rate (USD),Population Growth Rate in %,Stock market sales,Unemployment rate (%),Gold rate(In Rs. /10grm 24 Karat),Sensex Index(Gain/Loss),GDP Growth in %
0,1991,19509.0,17900.0,48.2221,42.34,13.87,17.9428,2.06,NaN,5.45,3466.0,881.47,1.06
1,1992,24452.0,20711.0,NaN,45.54,11.79,24.4737,2.02,NaN,5.50,4334.0,706.52,5.48
2,1993,23304.0,22237.0,NaN,44.45,6.33,30.6488,1.99,NaN,5.61,4140.0,728.28,4.75
3,1994,28655.0,26330.0,NaN,54.86,10.25,31.3655,1.96,NaN,5.63,4598.0,490.03,6.66
4,1995,36592.0,31699.0,NaN,64.37,10.22,31.3986,1.94,NaN,5.64,4680.0,-799.67,7.57

In [4]:
dataset.isnull().sum()

Year                                  0
Import in millions                    1
Export in millions                    1
Literacy rate                        23
Industrial Production                 0
Inflation rate (%)                    0
Exchange rate (USD)                   0
Population Growth Rate in %           0
Stock market sales                    5
Unemployment rate (%)                 0
Gold rate(In Rs. /10grm 24 Karat)     0
Sensex Index(Gain/Loss)               3
GDP Growth in %                       0
dtype: int64

In [5]:
dataset['Import in millions'].fillna(dataset['Import in millions'].mean(), inplace=True)
dataset['Export in millions'].fillna(dataset['Export in millions'].mean(), inplace=True)
dataset['Stock market sales'].fillna(dataset['Stock market sales'].mean(), inplace=True)
dataset['Sensex Index(Gain/Loss)'].fillna(dataset['Sensex Index(Gain/Loss)'].mean(), inplace=True)
dataset.drop(['Literacy rate','Gold rate(In Rs. /10grm 24 Karat)'], axis=1, inplace=True)
X = dataset.iloc[:, :10]
y = dataset.iloc[:,-1]


from sklearn.ensemble import RandomForestRegressor as rfr
model_1 = rfr(random_state=1)
model_1.fit(X, y)


pickle.dump(model_1, open('model2.pkl','wb'))
model = pickle.load(open('model2.pkl','rb'))